$font: 'Concert One', cursive;
$background: linear-gradient(#CAC531, #F3F9A7);


body {
	text-decoration: none;
}
header {
	color: darkblue;
	background-image: $background;
	text-decoration: none;
	font-family: $font;
	font-size: 30px;
	align-items: end;
	text-align: bottom;
	text-decoration: none;
    margin-bottom: 0px;

ul {
	display: flex;
	list-style: none;
	font-size: 1;
	align-content: flex-end;
    text-decoration: none;
    

li {
	a {
		display: inline-block;
		color: darkblue;
		position: relative;
		font-size: 20px;
		text-decoration: none;
		align-items: bottom;
        margin-top: 30px;
        

        &:hover {
            cursor: pointer;
            background: darkblue;
            border: 2px solid darkblue;
            border-radius: 100px 50px;
            outline: none;
            transition: ease-in-out;
            color: gold;
	}
}

}

}

}

footer {
	grid-area: footer;
	color: black;
	text-decoration: none;
	background-image: $background;
	font-family: $font;
	font-size: 16px;
}
main {
	text-align: center;
	font-family: $font;
}
.espacio {
	text-align: left;
	padding-top: 30px;
	height: 250px;
	background-color: whitesmoke;
	color: black;
}
aside {
	text-align: left;
	padding: 5px;
	font-family: $font;
	background-color: whitesmoke;
}
.pad {
	padding-bottom: 20px;
	border: none;
}
form {
	text-align: left;
	padding: 20px;
	font-family: $font;
	background-color: whitesmoke;
	color: black;
}

.location {
margin-top: 25px;
}